---
import Navbar from '@/components/Navbar.astro'

const siteData = {
	title: 'Plantopia',
	description: 'A app for tracking watering you plans'
}
const { title = siteData.title, description = siteData.description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto max-w-[2000px] bg-slate-50 text-slate-950">
		<Navbar />
		<main>
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
